spring:
  application:
    name: ansible-back

  datasource:
    url: jdbc:mariadb://${DB_HOST:localhost}:${DB_PORT:3306}/${DB_NAME:testapp}
    username: ${DB_USER:root}
    password: ${DB_PASSWORD:}
    driver-class-name: org.mariadb.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MariaDBDialect

server:
  port: ${SERVER_PORT:8080}

logging:
  level:
    org.springframework: INFO
    com.test.project: DEBUG
