name: Build and Release

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    permissions:
      contents: write
    
    steps:
      - name: 체크아웃
        uses: actions/checkout@v4

      - name: JDK 21 설정
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'gradle'

      - name: 빌드
        run: ./gradlew clean build -x test

      - name: Release 생성
        uses: softprops/action-gh-release@v2
        with:
          tag_name: latest
          name: Latest Build
          files: build/libs/ansible-back-0.0.1-SNAPSHOT.jar
